# Enable whitelisting mode (ignore all with *, do not ignore directories with !*/)
*
!*/

# Allow repo files
!.gitignore
!.editorconfig

# Allow project files
!*.sln
!*.csproj

# Allow source files
!*.cs
!*.txt
!*.md
# Explicit blacklist
obj
bin

.vs
